@model CashHomeBuyer.Models.Contact

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: linear-gradient(to bottom, rgba(200,200,200,0.4) 0%,
rgba(200,200,200,0.4) 100%), url(/Images/background2.jpg)">
    <div class="container-fluid" id="jumbo_head">
        <h1>WE BUY HOUSES IN LOUISVILLE</h1>
        <h4>ANY CONDITION. ANY PRICE.</h4>
        <br />
        <p><i class="far fa-money-bill-alt mr-2"></i>Get a Fast CASH Offer!</p>
    </div>
</div>
<section id="offer_form">
    <h2>GET AN OFFER NOW!</h2>
    <span class="text-danger">@Html.ValidationSummary()</span>
    <div class="container">
        @using (Html.BeginForm("InsertContact", "Home", FormMethod.Post))
        {
            <div class="row form-group">
                <div class="col-xl-3"></div>
                <div class="col-xl-6">@Html.TextBoxFor(m => Model.ContactAddress, new { @placeholder = "Property Address", @class = "form-control" })</div>
                <div class="col-xl-3"></div>
            </div>
            <div class="row form-group">
                <div class="col-xl-3"></div>
                <div class="col">@Html.TextBoxFor(m => Model.ContactName, new { @placeholder = "Name", @class = "form-control" })</div>
                <div class="col">@Html.TextBoxFor(m => Model.ContactEmail, new { @placeholder = "Email", @class = "form-control" })</div>
                <div class="col-xl-3"></div>
            </div>
            <div class="row form-group">
                <div class="col-xl-4"></div>
                <div class="col-xl-4">@Html.TextBoxFor(m => Model.ContactPhone, new { @placeholder = "Phone", @class = "form-control" })</div>
                <div class="col-xl-4"></div>
            </div>
            <div class="row form-group">
                <div class="col-xl-5"></div>
                <div class="col-xl-3"><button class="btn btn-outline-secondary"><i class="fas fa-download mr-2"></i>Get Your Offer!</button></div>
                <div class="col-xl-4"></div>
            </div>
        }
    </div>
</section>
<hr />
<section id="process">
    <div class="container-fluid" id="process_title">
        <p>It's an Easy Three Step Process:</p>
    </div>
    <div class="container-fluid" id="process_body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-4 text-center"><img src="~/Images/form.jpg"><p id="process"><strong>Step One:</strong> Fill Out Our No Obligation Form</p></div>
            <div class="col-sm-12 col-md-12 col-xl-4 text-center"><img src="~/Images/homework.jpg"><p id="process"><strong>Step Two:</strong> We Do Our Homework and Give You a Fair Offer For Your Home</p></div>
            <div class="col-sm-12 col-md-12 col-xl-4 text-center"><img src="~/Images/paid.jpg"><p id="process"><strong>Step Three:</strong> You Get Paid!</p></div>
        </div>
    </div>
</section>
<hr />
<section id="about">
    <h1>Do You Need to Sell Your House in Louisville?</h1>
    <p>
        We pay <strong>cash for Louisville houses</strong> and always buy as-is, so you can be sure you are <em>selling your Louisville home</em> in the most hassle-free way possible. By selling to us and cutting out the middle-man, you will avoid
        having to repair and clean up your property and waiting weeks if not months to close. We can take the hassle out of almost any situation. We've helped Louisville area homeowners avoid foreclosure, get rid of unwanted inherited property, sell fast
        after having no luck with a traditional sale, and dozens of other instances where a fast and pain-free sale is important.
    </p>
    <p>
        Let's face it, selling your home can be a hassle - it can take weeks or months to get the property ready to sell and then be tied up for a long time on the market. Not to mention, when you do get the property under contract,
        you still have to negotiate repairs and wait for the buyers financing to come through. Nothing can be worse than having your home under contract for several months, only for the buyers' loan to fall through at the last moment.
        That's where we can help!
    </p>
    <p>
        We are a team of locally based real estate investors. We are not a national company and are not a referral network. We care about our community and want to make your home sale as easy as possible and a win-win for everyone. Just to be clear - we are not listing your home.
        We're the one's buying it! Once we get your information and home details, we are usually able to present an offer within 24 hours. And because we pay cash, we are able to close very quickly. Sometimes in as little as 5-7 days.
    </p>
    <p>Do you meet any of these criteria? </p>
    <ul>
        <li>Are you in foreclosure or behind on your mortgage?</li>
        <li>Are you ready to get rid of a vacant property?</li>
        <li>Are you tired of being a landlord?</li>
        <li>Do you need to relocate quickly?</li>
        <li>Are you going through a divorce?</li>
        <li>Have you inherited an unwanted property?</li>
        <li>Do you have little equity, but need to sell?</li>
    </ul>
    <p>If so, let us <strong>pay cash for your Louisville home</strong> and help you regain control over your situation.</p>
    <p><u>100% Hassle Free.</u> <u>100% Obligation Free.</u> <u>100% Cash In Your Pocket.</u></p>
</section>


