@model CarDealership.UI.Models.EditVehicleViewModel

@{
    ViewBag.Title = "EditVehicle";
}
<div class="row" id="space"></div>
<div class="row">
    <div class="col-xl-12">
        <h2>Edit Vehicle</h2>
    </div>
</div>
<div class="row" id="space"></div>
<div class="container">

    @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUpload" }))
    {
        @Html.HiddenFor(m => Model.VehicleID)
        @Html.HiddenFor(m => Model.ImageFileName)
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">Make</div>
                @Html.DropDownListFor(m => Model.CarMakeName, Model.CarMakeNames@*, "-- Please Select --"*@, new { @id = "carMakes", @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.CarMakeName)</span>

            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">Model</div>
                <select id="carModels" class="form-control" data-val="true" name="ModelName"></select>
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.ModelName)</span>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">Type</div>
                @{ var salesTypes = new List<SelectListItem>

                                                                                                                                                                                                                                                                                                                                                                                                                     {                                                                                      new SelectListItem { Value = "1", Text = "New" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem { Value = "2", Text = "Used" },



                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               };
                }
                @Html.DropDownListFor(m => Model.SalesTypeID, salesTypes, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">Body Style</div>
                @{ var bodyStyles = new List<SelectListItem>

                                                                                                                                                                                                                                                                                                                                                                                                         {                                                                                      new SelectListItem { Value = "1", Text = "Car" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                new SelectListItem { Value = "2", Text = "SUV" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                new SelectListItem { Value = "3", Text = "Truck" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                new SelectListItem { Value = "4", Text = "Van" },


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   };
                }
                @Html.DropDownListFor(m => Model.BodyTypeID, bodyStyles, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">Year</div>
                @Html.TextBoxFor(m => Model.YearBuilt, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.YearBuilt)</span>

            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">Transmission</div>
                @{ var transTypes = new List<SelectListItem>

                                                                                                                                                                                                                                                                                                                                                                                                                                         {                                                                                      new SelectListItem { Value = "1", Text = "Automatic" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               new SelectListItem { Value = "2", Text = "Manual" },



                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   };
                }
                @Html.DropDownListFor(m => Model.TransmissionID, transTypes, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">Color</div>
                @{ var extColors = new List<SelectListItem>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                 {                                                                                      new SelectListItem { Value = "1", Text = "White" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        new SelectListItem { Value = "2", Text = "Black" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        new SelectListItem { Value = "3", Text = "Gray" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        new SelectListItem { Value = "4", Text = "Silver" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        new SelectListItem { Value = "5", Text = "Red" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        new SelectListItem { Value = "6", Text = "Blue" },


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           };
                }
                @Html.DropDownListFor(m => Model.ExtColorID, extColors, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">Interior</div>
                @{ var intColors = new List<SelectListItem>

                                                                                                                                                                                                                                                                                                                                                                                                                                             {                                                                                      new SelectListItem { Value = "1", Text = "Black" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    new SelectListItem { Value = "2", Text = "White" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    new SelectListItem { Value = "3", Text = "Gray" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    new SelectListItem { Value = "4", Text = "Tan" },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    new SelectListItem { Value = "5", Text = "Brown" },



                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       };
                }
                @Html.DropDownListFor(m => Model.IntColorID, intColors, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">Mileage</div>
                @Html.TextBoxFor(m => Model.Mileage, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.Mileage)</span>

            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">VIN #</div>
                @Html.TextBoxFor(m => Model.VINNumber, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.VINNumber)</span>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="col-form-label">MSRP</div>
                @Html.TextBoxFor(m => Model.MSRP, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.MSRP)</span>

            </div>
            <div class="form-group col-md-2">
                <div class="col-form-label">Sales Price</div>
                @Html.TextBoxFor(m => Model.SalesPrice, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.SalesPrice)</span>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <div class="col-form-label">Description</div>
                @Html.TextAreaFor(m => Model.VehicleDescription, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => Model.VehicleDescription)</span>

            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-form-label">Replace Picture</div>
            @Html.TextBoxFor(m => Model.UploadedFile,
           new { type = "file", @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(m => Model.UploadedFile)</span>
            <span class="text-danger">@Html.ValidationMessageFor(m => Model.ImageFileName)</span>
        </div>
        <div class="form-row form-group col-md-8">
            <input type="checkbox" class="form-check-input" id="featuredvehiclecheck" name="IsFeaturedVehicle" value=true>
            <label class="form-check-label" for="IsFeaturedVehicle">Feature This Vehicle</label>
        </div>
        <div class="form-row form-inline">
            <div class="form-group">
                <input type="button" class="btn btn-danger" value="Delete" id="deletebutton" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="save">Save</button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        
    });

    $('#carMakes').on("change", function () {
        var make = $('#carMakes').val();
        $('#carModels').empty();

        $.ajax({
            type: 'GET',
            url: 'http://localhost:55044/vehicles/getmodels/' + make,
            success: function (data, status) {
                $.each(data, function (index, model) {
                    modelName = model.ModelName;

                    $('#carModels').append('<option value="' + modelName + '">' + modelName + '</option>');
                })
            }
        });
    });

    $('#deletebutton').click(function () {

        var c = confirm("Are you sure you want to delete this vehicle?")

        if (c) {
            $.ajax({
            type: 'DELETE',
            url: 'http://localhost:55044/vehicles/' + @Model.VehicleID,
            success: function (status) {
                window.location = "/admin/vehicles";
            }
            })

        }        
    })

</script>
