<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGA Homes, LLC - We Buy Houses in Louisville, KY</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" @Html.ActionLink("We Pay Cash for Houses!","Index", "Home")>
        </a>
        <span class="navbar-text">
            Call Us at 502-439-1404
        </span>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" @Html.ActionLink("Get a Cash Offer", "Index", "Home")</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Our Process", "OurProcess", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("FAQ", "FAQ", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("About Us", "About", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Admin", "Login", "Account")</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <br />
            <p>&copy; @DateTime.Now.Year - MGA Homes, LLC</p>
        </footer>
    </div>
</body>
</html>
